In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
#!pip install lxml

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list_df = pd.read_html(url, header = 0)
df = list_df[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [3]:
dff = df[df['Borough'].map(lambda x: str(x)!="Not assigned")]
dff.shape

(103, 3)

In [4]:
dfg = dff.groupby('Postal Code',as_index=False)
dfg = dfg.apply(lambda x: x) 
dfg.shape

(103, 3)

In [6]:
ll = pd.read_csv('Geospatial_Coordinates.csv')

In [7]:
ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
dfll = pd.merge(dfg, ll, on='Postal Code', how='left')
dfll.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494