In [9]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
!pip install lxml

Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (4.5.0)

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list_df = pd.read_html(url, header = 0)
df = list_df[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [11]:
dff = df[df['Borough'].map(lambda x: str(x)!="Not assigned")]
dff.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [12]:
dfg = dff.groupby('Postal Code',as_index=False)
dfg = dfg.apply(lambda x: x)

In [13]:
dfg.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

if a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [14]:
for index, row in dfg.iterrows():
    if row['Neighborhood'] == "Not assigned":
        print(row['Neighborhood'])
        row['Neighborhood'] = row['Borough']
        print(row['Neighborhood'])

In [15]:
dfg.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [16]:
dfg.shape

(103, 3)

In [19]:
ll = pd.read_csv('Geospatial_Coordinates.csv')
ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
for index, row in dfg.iterrows():
    for i, r in ll.iterrows():
        if row['Postal Code'] == r['Postal Code']:
            dfg['Latitude'] = r['Latitude']
            dfg['Longitude'] = r['Longitude']
dfg.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.628841,-79.520999
3,M4A,North York,Victoria Village,43.628841,-79.520999
4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.628841,-79.520999
5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.628841,-79.520999
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.628841,-79.520999